.pagination {
  height: 80%;
  margin: 3px;
}
.pagination button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}
.active {
  background-color: #5E5ADB;
  color: #fff;
  opacity: 1;
  border-radius: 5px;
}