.modalBody {
  width: 325px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #F7F8FA;
  box-shadow: 0px 0px 0px 1px rgba(136, 143, 170, 0.1), 0px 30px 70px rgba(26, 34, 64, 0.15), 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
.modalTitle {
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #D5DBE5;

}
.modalTitle h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.bodyInput {
  display: flex;
  height: 32px;
  margin: 20px;
  width: 280px;
  border: 1px solid #D5DBE5;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 6%), 0px 0px 0px 1px rgb(134 143 160 / 16%);
}
.input {
  border: none;
  width: 100%;
  opacity: 0.3;
}
.input:focus{
  outline: none;
}
.buttonArea {
  width: 307px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-top: 1px solid #D5DBE5;
}
.buttonCreate {
  height: 32px;
  background-color: #5E5ADB;
  width: 132px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px #5E5ADB;
  border-radius: 6px;
  margin: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
  border: none;
}

.buttonCreate:active {
  background-color: #4e49db;
}