.tableDiv {
  height: 450px;
  width: 100%;
}
.table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #687182;
  height: 34px;
  border-top: 1px solid #D5DBE5;
}
.table thead th {
  cursor: pointer;
}
.table thead th:hover {
  background-color: #D5DBE5;
}
.table tbody tr {
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.table tr {
  border-bottom: 1px solid #D5DBE5;
}
.footer {
  height: 32px;
  position: absolute;
  top: 575px;
  width: 100%;
  padding: 1px;

  border-top: 1px solid #D5DBE5;
  border-bottom: 1px solid #D5DBE5;

  display: flex;
  justify-content: space-between;
}
.totalList {
  height: 100%;
  width: 50%;
}
.totalList p {
  margin: 6px;
}
.pagination {
  margin-right: 5px;
  padding: 3px;
}
.pagination button{
  border: none;
}
.active {
  background-color: #5E5ADB;
  color: #fff;
}